.header-class{height:100px;border:1px solid black;text-align:center;}

.header-content{line-height:100px;}

.nav-class{height:40px;border:1px solid black;text-align:center;margin-top:10px;}

.nav-content{line-height:40px;}